body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapperBody {
  text-align: center;
}

.cardsStackWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-wrapper {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 2px;
  margin-left: -10px;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}